# 将所有依赖提升到 node_modules 根目录
shamefully-hoist=true
# 放宽 peerDependencies（对等依赖）检查
strict-peer-dependencies=false
# 让 npm 在 Windows 上的行为更接近 Unix Shell
shell-emulator=true
# 允许 npm 忽略 peerDependencies 相关的依赖冲突 fix code ERESOLVE \n ERESOLVE could not resolve
legacy-peer-deps=true